<section class="content-area">
	<section id="recent-posts" class="recent-posts">

		<!-- title and entry -->
		<!-- render top articles firstly -->
		<% if (page.current == 1) { %>
		<% site.posts.each(function(item){ %>

		<% if (item.top) { %>
		<%- partial('post/title_top', {item: item, index: index}) %>
		<%- partial('post/entry', {item: item, index: index}) %>
		<% } %>
		<% }); %>
		<% } %>
		<!-- render other articles -->
		<% page.posts.each(function(item){ %>
		<% if (!item.top) { %>
		<article class="regular-post post type-post status-publish format-standard has-post-thumbnail hentry">
			<%- partial('post/thumb', {item: item, index: index}) %>
			<section class="entry-body">
				<%- partial('post/title', {item: item, index: index}) %>
				<%- partial('post/entry', {item: item, index: index}) %>
			</section>
			<% } %>
		</article>
		<% }); %>

		<!-- pagination -->
		<div>
			<center>
				<%- partial('index_pagination') %>
			</center>
		</div>



		<% if (theme.widgets.length) { %>
		<%- partial('sidebar') %>
		<% } %>

	</section>
</section> <!-- row-fluid -->